@import "../../variables.scss";
.service-section {
  display: grid;
  justify-items: center;
  align-items: center;
}
.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  word-break: break-word;  
}

.service-list-item {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px dashed $light-primary-color;
  width: 100%;
  box-sizing: border-box;  

  p {
    margin: 0;
    line-height: 1.2;
    word-break: break-word; // Ensures long text breaks
  }
}