@import "../../variables.scss";
.service-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-list {
  list-style: none;
  padding: 0;
  margin: auto;
}

.service-list-item {
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
  border-bottom: 2px solid $light-primary-color;

  h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 700;
  }

  p {
    margin: 0;
    color: #555;
    font-size: 1rem;
  }
}