@import "../../app.scss";
@import "../../variables.scss";

.about-section {
  .title {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .about-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .title {
      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 18px;
      }
    }

    .about-image {
      width: 80%;
    }
  }
}