@import "../../app.scss";
@import "../../variables.scss";

.about-section {
 


  .titleContainer {

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    b {
      font-weight: bold;
      cursor: pointer;
    }

    h1 {
      font-size: 3rem;

      @media screen and (max-width: 48rem) {
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 2rem;

      @media screen and (max-width: 48rem) {
        font-size: 1.5rem;
      }
    }
  }

}  
img{

      width: 420px;
      border-radius: 0.5rem;
      overflow: hidden;

  }
