
.text-media-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  text-align: left; 
  max-width: 100%;

  img {
  max-width: 100%; 
   width: 60%;
  height: auto; 
  object-fit: contain;
    border-radius: 12px;

}
}
.shot-demo {
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 20px; 
  text-align: left; 
  max-width: 100%;
  overflow: hidden;
  
  a{
    font-size: 30px;

  }
  img {
  max-width: 100%; 
   width: auto;
  height: auto; 
  max-height: 560px;
  object-fit: contain;
}
p{
    text-align: center;
      padding: 0 80px;

}
  .demo {
    background-color: #FFFFFF;
    border-radius: 12px;
  }
}

// PDFSlider
.pdf-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
      background-color: #0056b3;
    }
  }

  iframe {
    border: none; /* Remove border from the iframe */
    margin: 0 0 20px 0; /* Add some margin below the iframe */
 
  }
}
