$grid-gap: 20px;

@mixin grid-container($columns, $gap: $grid-gap) {
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}

// Default grid layout: 2 columns
.contact-grid {
  @include grid-container(2);  // Use the mixin with 2 columns by default

  // Media query for mobile (1 column)
  @media (max-width: 768px) {
    @include grid-container(1);  // Use the mixin with 1 column on mobile
  }
}


.grid-layout {
  display: grid;
  width: 100%;
  margin: 0; 
  padding: 0; 
   row-gap: 20px;
  @include grid-container(2);

  @media (max-width: 1200px) {
    @include grid-container(2);
  }

  @media (max-width: 768px) {
    @include grid-container(1);
  }


}

.grid-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;

  &:hover {
    transform: translateY(-5px);
  }
}

.span-one-column {
  grid-column: span 1;
}

.span-two-columns {
  grid-column: span 2;
  overflow: hidden;
}

ul.span-three-column {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: flex-start; 
  align-items: flex-start; 

  li {
    display: inline; 
    a {
    font-size: 80px;
      text-decoration: none; 
      padding: 10px; 
      transition: color 0.3s ease;
    }
  }

  @media (max-width: 640px) {
    li {
      display: block; 
      a {
        font-size: 32px;
      }
    }

  
}
}


