$light-primary-color: #52767A;
$light-background-color: #fefefe;
$light-text-color: #293B3D;
$light-secondary-color: #85A9AD;

$dark-primary-color: #5E3B4F;
$dark-background-color: #293B3D;
$dark-text-color: #D8C0CE;

$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'IBM Plax Serif', serif;

:root {
  --primary-color: #{$light-primary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

.dark-mode {
  --primary-color: #{$dark-primary-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}
