$light-primary-color: #32102C;
$light-background-color: #F2F2F2;
$light-text-color: #292F5D;
$light-secondary-color: #600d51;

$dark-primary-color: #32102C;
$dark-secondary-color: #a1819b;
$dark-accent-color: #cd88c1;
$dark-background-color: #292F5D;
$dark-text-color: #F2F2F2;

$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'IBM Plax Serif', serif;

:root {
  --primary-color: #{$light-primary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --accent-color: #{$dark-primary-color};
  --button-color: #{$light-secondary-color};
}

.dark-mode {
  --primary-color: #{$dark-primary-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}
