$light-primary-color: #702034;
$light-background-color: #E9F1DF;
$light-text-color: #050205;

$dark-primary-color: #C3A447;
$dark-background-color: #020100;
$dark-text-color: #D8C0CE;

$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Georgia', serif;

:root {
  --primary-color: #{$light-primary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

.dark-mode {
  --primary-color: #{$dark-primary-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}
