$grid-gap: 20px;

@mixin grid-container($columns, $gap: $grid-gap) {
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}

.grid-layout {
  display: grid;
  width: 100%;
  margin: 0; // Remove margins
  padding: 0; // Remove padding

  @include grid-container(3);

  @media (max-width: 1200px) {
    @include grid-container(2);
  }

  @media (max-width: 768px) {
    @include grid-container(1);
  }
}

.grid-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box; // Include padding and border in width
  margin: 0; // Remove margins to prevent overflow

  &:hover {
    transform: translateY(-5px);
  }
}

.span-one-column {
  grid-column: span 1;
}

.span-two-columns {
  grid-column: span 2;
}
