.dropdown {
  margin-bottom: 2rem;
    width: 100%;

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h3 {
      font-size: 2rem;
      margin: 0;
      text-align: left;
    }

    .dropdown-icon {
      font-size: 2.5rem;
      transition: transform 0.3s;

      &.open {
        transform: rotate(45deg);
      }
    }
  }

  .dropdown-content {
    display: grid;
    gap: 2rem;
    align-items: center;
    text-align: left;

    &.image-left-text-right {
      grid-template-columns: 1fr 1fr; // Image on the left, text on the right
    }

    &.image-right-text-left {
      grid-template-columns: 1fr 2fr; // Text on the left, image on the right
    }

    .dropdown-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p {
        margin: 0 0 1rem;
      }
    }

    .dropdown-image {
      border-radius: 0.5rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 80%;
        object-fit: cover; // Ensure the image fills the container while maintaining aspect ratio
      }
    }
  }

  // Responsive layout for smaller screens
  @media (max-width: 768px) {
    .dropdown-content {
      display: flex;
      flex-direction: column; // Stack items vertically
      gap: 1rem;

      &.image-left-text-right,
      &.image-right-text-left {
        flex-direction: column; // Ensure consistent stacking for mobile
      }
    }

    .dropdown-image {
      width: 100%; // Ensure the image takes full width
      height: auto; // Maintain aspect ratio
    }
  }
}