.dropdown {
  margin-bottom: 2rem;

  p {
    font-size: 1rem;
  }

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h3 {
      font-size: 3rem;
      margin: 0;
      text-align: left;
    }

    .dropdown-icon {
      font-size: 3.75rem;
      transition: transform 0.3s;

      &.open {
        transform: rotate(45deg);
      }
    }
  }

  .dropdown-content {
    gap: 2rem;
    text-align: left;
    justify-content: center;
    align-items: center;

    .first-dropdown-layout {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      gap: 2rem;
      padding-bottom: 1.5rem;

      .dropdown-image {
        border-radius: 0.5rem;
        overflow: hidden;
        height: 32.5rem; // 520px converted to rem
      }

      .dropdown-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p {
          margin: 0 0 0.625rem; // 10px converted to rem
        }

        img {
          @extend %image-styles;
          height: 21.25rem; // 340px converted to rem
        }
      }
    }

    .dropdown-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      img {
        @extend %image-styles;
        height: 26.25rem; // 420px converted to rem
      }
    }
  }

  // Responsive layout for smaller screens
  @media (max-width: 48rem) { // 768px converted to rem
    .dropdown-content {
      flex-direction: column;
    }

    .first-dropdown-layout {
      grid-template-columns: 1fr;
    }

    .dropdown-text {
      flex-direction: column;
    }
  }
}

// Define shared styles for images
%image-styles {
  object-fit: cover;
  max-height: 32.5rem; // 520px converted to rem
}