.dropdown {
  margin-bottom: 2rem;
    width: 100%;

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

  
    .dropdown-icon {
      font-size: 2.5rem;
      transition: transform 0.3s;

      &.open {
        transform: rotate(45deg);
      }
    }
  }

.dropdown-content {
  display: grid;
  gap: 2rem;
  align-items: start;
  text-align: left;

.text-left-image-right {
  display: grid;
  grid-template-columns: 1fr 2fr; // Text left, image right
  gap: 2rem;
  align-items: start;
  padding-top: 2rem;
}

.image-right-text-left {
  display: grid;
  grid-template-columns: 1fr 2fr; // Image on the left, text on the right
}

    .dropdown-text {

      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .dropdown-image-first{
      border-radius: 0.5rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
        width: 100%;   // Fixed width
  height: 220px;  // Fixed height


  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Fill the box and crop as needed
    display: block;
  }
    }
    .dropdown-image {
      border-radius: 0.5rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Fill the box and crop as needed
    display: block;
  }
    }
  }

.dropdown-last-row {
  align-items: center;
  justify-items: center;
  gap: 2rem;

  .dropdown-image {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown-text {
    width: 100%;
    max-width: 60%;
        text-align: center;
  }
}

@media (max-width: 700px) {
  .dropdown-last-row {
    flex-direction: column;
    .dropdown-image, .dropdown-text {
      width: 100%;
      max-width: 100%;
    }
    .dropdown-text {
      text-align: left;
    }
  }
}

  // Responsive layout for smaller screens
  @media (max-width: 768px) {
    .dropdown-content {
      display: flex;
      flex-direction: column; // Stack items vertically
      gap: 1rem;

      &.image-left-text-right,
      &.image-right-text-left {
        flex-direction: column; // Ensure consistent stacking for mobile
      }
    }

    .dropdown-image {
      width: 100%; // Ensure the image takes full width
      height: auto; // Maintain aspect ratio
    }
  }
}