@import "../../variables.scss";

.hero-section {
  padding: 24px 0px;  // Remove any padding if it exists
  margin: 0;   // Remove any margin if it exists

  .hero-title {
    margin: 0;  // Ensure there's no margin around the title
  }
  .date {
    font-size: 16px;
    
  }
.tag{
  background-color: grey;
  padding: 4px 12px;
  border-radius: 24%;
}

  .hero-image {
    min-width: 324px;
    height: 72vh;
    object-fit: cover;
    object-position: left;
    margin: 0;  // Ensure there's no margin around the image
 z-index: -200;
           overflow:hidden ;
             border-radius: 2%;


     // Responsive adjustments for mobile
    @media (max-width: 768px) {
      width: 33vw;  // Half the width on mobile
      height: 54vh; // Half the height to maintain aspect ratio
          object-fit: cover;
              object-position: right;


    }

}

  .span-two-columns {
    grid-column: span 4;
    margin: 0;  // Ensure there's no margin in the grid layout
  }

  .span-one-column {
    grid-column: span 2;
    margin: 0;  // Ensure there's no margin in the grid layout
  }
}
