@import "../../variables.scss";

.contact-section {
  max-width: 100vw;

  a {
    font-size: 32px;
  }

  .formContainer {
    grid-column: span 1;
    flex-direction: column;
    width: 100%;
    padding: 1rem; // Default padding for larger screens
  gap: 2rem;
    @media screen and (max-width: 48rem) {
      grid-column: span 1;
      display: flex;
      flex-direction: column;
      gap: 2rem; // Space between rows
    }


  }
    form {


      input,
      textarea {
        padding: 1rem;
        background-color: transparent;
        border: 2px solid $light-primary-color;
        color: $light-text-color;
        border-radius: 0.3125rem;
width: 100%;
        @media screen and (max-width: 48rem) {
          padding: 0.75rem; // Reduced padding for smaller screens
        }
      }
    }
  // Ensure the form is responsive on mobile by stacking in rows
  @media screen and (max-width: 48rem) {
    .formContainer {
      display: flex;
      flex-direction: row;
      gap: 1.25rem; // Spacing between form elements on mobile
    }

    .formContainer form {
      flex-direction: column; // Ensure the form elements are in rows (default behavior)
    }

    .formContainer form input,
    .formContainer form textarea {
      width: 100%; // Ensure form elements take full width in mobile view
    }
  }
}
