@import "../../variables.scss";

.contact-section {
    max-width: 100vw;

a{font-size: 32px;}

  .formContainer {
    grid-column: span 1;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: 48rem) {
      padding: 1.25rem;
      grid-column: span 1;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      width: 100%;

      input,
      textarea {
        padding: 1.25rem;
        background-color: transparent;
        border: 2px solid $light-primary-color;
        color: $light-text-color;
        border-radius: 0.3125rem;

        @media screen and (max-width: 48rem) {
          padding: 0.625rem;
        }
      }

    }
  }




}
