@import "../../variables.scss";

.footer {
  color: $light-text-color;
  text-align: center;
  position: relative;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  .footer-content {
    display: grid;
grid-column: 5;
    align-items: center;


    p {
      margin: 0;
      font-size: 18px;
    }

    
  }
  li {
    flex: 1;
  }
  .span-three-column {
    grid-column: span 3;
    padding: 0;
     list-style: none;
    text-align: center;
    padding: 0 120px;
  }
  .sitemap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  // 4 equal columns
    gap: 20px;  // Space between grid items
    justify-items: start;
    margin-top: 20px;
  padding: 0px 120px;

    .sitemap-category {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }


.copyright {
  max-height: auto;
img{
    width: max-content;
}
p {
  font-size: 64px;
}
  span{ 
    font-size: 54px;
  font-weight: 900;

}
  ;
}

}

// Responsive adjustments
@media (max-width: 768px) {
  .sitemap {
    grid-template-columns: repeat(2, 1fr); // Change to 2-column grid on smaller screens
  }
}

@media (max-width: 480px) {
  .sitemap {
    grid-template-columns: 1fr;  // Single column grid for mobile
  }
}