@import "../../variables.scss";
.footer {
  color: $light-text-color;
  text-align: center;
  position: relative;
  justify-content: center;
  gap: 40px;
  overflow: hidden;

  .footer-content {
    display: grid;
    grid-column: 3;
    align-items: start;
    text-align: left; 
    p {
      margin: 0;
      font-size: 18px;
    }
  }

  li {
    flex: 1;
  }

  .span-three-column {
    grid-column: span 3;
    list-style: none;
    text-align: center;
    padding: 0 120px;
  }

  .sitemap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: start; // Centers content inside the grid
    align-items: center;
    margin-top: 20px;
    padding: 0px 120px;

    .sitemap-category {
      display: flex;
      flex-direction: column;
      align-items: start; // Centering items inside category

      a {
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width:max-content ;
      height: auto;
      display:block;
      margin: auto;
    }

    p {
      font-size: 18px;
    }

    span {
      font-size: 54px;
      font-weight: 900;
    }
  }

  // Responsive adjustments for screens <= 768px (Two Columns)
  @media (max-width: 768px) {

    .sitemap {
      grid-template-columns: repeat(2, 1fr);  
      justify-items: flex-start; 

    }
    .copyright img {
      width: 520px; 
    }
    .sitemap-category {
      align-items: center; 

    ul.span-three-column {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
    }

  }

  // Responsive adjustments for screens <= 640px (One Column)
  @media (max-width: 640px) {
    .sitemap {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .sitemap-category {
      align-items: center;
    }

    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
}
